<div class="col-6 col-xl-3 col-lg-4 col-md-4 mt-4">
  <div class="card">
    <div class="card-body text-center d-flex flex-column align-items-center">
      <img src="https://sciencelevelup.kofac.re.kr/resources/images/mobile/course_big_icon_05.png" class="profile-crown" width="50" height="50"/>
      <img src="<%= @boardMaster.profile_picture %>" class="rounded-circle profile-picture-style" width="130" height="130"/>
    </div>
    <div class="card-footer text-center">
      <%= @boardMaster.name %>
    </div>
  </div>
</div>
<% @board.accept_applies.each do |acceptApply| %>
  <% if acceptApply.board.user_id == acceptApply.user.id %>
    <% next %>
  <% else %>
    <div class="col-6 col-xl-3 col-lg-4 col-md-4 mt-4">
      <div class="card">
        <div class="card-body text-center d-flex flex-column align-items-center">
          <img src="<%= acceptApply.user.profile_picture %>" class="rounded-circle" width="130" height="130"/>
        </div>
        <div class="card-footer text-center">
          <%= acceptApply.user.name %> - <%= acceptApply.created_at.strftime("%_m월 %-d일") %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
